{% extends 'base/skeleton.html' %}
{% load static %}

{% block custom_message %}
    <div class="pt-4" id="alert_msg">
         {% if messages %}
          {% for message in messages %}
            <div class="alert alert-{{message.tags}}" role="alert">
                {{message}}
            </div>
          {% endfor %}
    {% endif %}
    </div>
{% endblock %}

{% block content %}
section class="categories">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-6 p-0">
                    <div>
                    <div>
                        <h1>Women’s fashion</h1>
                        <p>In the ecommerce Store the new style is one click away</p>
                        <a href="#">Shop now</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-6 p-0">
                        <div>
                            <div>
                                <h4>Men’s fashion</h4>
                                <a href="#">Shop now</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 p-0">
                        <div>
                            <div>
                                <h4>Kid’s fashion</h4>
                                <a href="#">Shop now</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 p-0">
                        <div>
                            <div>
                                <h4>Cosmetics</h4>
                                <a href="#">Shop now</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 p-0">
                        <div>
                            <div>
                                <h4>Accessories</h4>
                                <a href="#">Shop now</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Categories Section End -->

<!-- Services Section Begin -->
<section>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-4 col-sm-6">
                <div>
                    <i class="fa fa-car"></i>
                    <h6>Free Shipping</h6>
                    <p>For all orders over €99</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6">
                <div>
                    <i class="fa fa-money"></i>
                    <h6>Money Back Guarantee</h6>
                    <p>If good have Problems</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6">
                <div>
                    <i class="fa fa-support"></i>
                    <h6>Online Support 24/7</h6>
                    <p>Dedicated support</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6">
                <div>
                    <i class="fa fa-headphones"></i>
                    <h6>Payment Secure</h6>
                    <p>100% secure payment</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Services Section End -->


{% endblock%}
{% block custom_js %}

{% endblock %}